/* List
--------------------------------------------- */

/* List styles for default unordered lists */
.entry-content ul li,
.entry-content ol li,
.wp-block-post-content ul li,
.wp-block-post-content ol li {
	margin-bottom: 0;
}

/* .entry-content > ul li,
.entry-content > ol li,
.wp-block-post-content > ul li,
.wp-block-post-content > ol li {
	margin-bottom: 0;
} */

.entry-content ul ul,
.entry-content ol ul,
.wp-block-post-content ul ul,
.wp-block-post-content ol ul {
	margin-top: 0;
}

/* Remove paddings */
.entry-content :not(.wp-block-group) > li:first-child {
	padding-top: 0;
}

.entry-content :not(.wp-block-group) li:last-child {
	padding-bottom: 0;
}

ul.is-style-list-check,
ul.is-style-list-check ul,
ul.is-style-list-check-no,
ul.is-style-list-check-no ul {
	padding-left: 0;
	list-style: none;
}

.entry-content ul.is-style-list-check,
.entry-content ul.is-style-list-check-no {
	padding-inline-start: 1.5rem;
}

ul.is-style-list-check li,
ul.is-style-list-check-no li {
	position: relative;
	padding-left: 1rem;
    margin-bottom: .65em;
}

ul.is-style-list-check li:before,
ul.is-style-list-check-no li:before {
	content: "";
	background-color: var(--wp--preset--color--primary);
    display: block;
    position: absolute;
    mask-size: cover;
    -webkit-mask-size: cover;
    -webkit-mask: url(../../assets/images/check-circle.svg);
    mask: url(../../assets/images/check-circle.svg);
    width: 24px !important;
    height: 24px !important;
    left: -15px;
    top: .09em;
}

ul.is-style-list-check-no li:before {
	content: "";
	background-color: var(--wp--preset--color--accent);
    display: block;
    position: absolute;
    mask-size: cover;
    -webkit-mask-size: cover;
    -webkit-mask: url(../../assets/images/xmark-circle.svg);
    mask: url(../../assets/images/xmark-circle.svg);
    width: 24px !important;
    height: 24px !important;
    left: -15px;
    top: .09em;
}