/* Cover styles
--------------------------------------------- */

.is-style-blur-image-less,
.is-style-blur-image-more {
	overflow: hidden;
}

.is-style-blur-image-less > .wp-block-cover__image-background,
.is-style-blur-image-more > .wp-block-cover__image-background {
	transform: scale(1.5);
}

.is-style-blur-image-less > .wp-block-cover__image-background {
	filter: blur(3px);
}

.is-style-blur-image-more > .wp-block-cover__image-background {
	filter: blur(9px);
}

.is-style-rounded-cover img {
	border-radius: 5px;
}

.wp-block-cover.is-style-gradient .has-background-dim:not([class*=-background-color]) {
	background-color: transparent;
	background-image: linear-gradient(to top, rgba(10,10,10,0.6), rgba(10,10,10,1));
	opacity: 1;
}