/* Code
--------------------------------------------- */

.is-style-dark-code,
.editor-styles-wrapper .wp-block-code.is-style-dark-code {
	background-color: var(--wp--preset--color--contrast-2);
	color: var(--wp--preset--color--base);
	padding: calc(var(--wp--preset--spacing--30) + 0.75rem);
}