/* Gradient Heading
--------------------------------------------- */
/* Apply gradient text effect to headings */
h1.has-background[class*="-gradient-background"],
h1.has-background[style*="-gradient("],
h2.has-background[class*="-gradient-background"],
h2.has-background[style*="-gradient("],
h3.has-background[class*="-gradient-background"],
h3.has-background[style*="-gradient("],
h4.has-background[class*="-gradient-background"],
h4.has-background[style*="-gradient("],
h5.has-background[class*="-gradient-background"],
h5.has-background[style*="-gradient("],
h6.has-background[class*="-gradient-background"],
h6.has-background[style*="-gradient("] {
    -webkit-background-clip: text !important;
    color: transparent;
    padding: 0;
}
