/* Button - Secondary Style
--------------------------------------------- */

.is-style-secondary-button .wp-element-button,
.wp-block.is-style-secondary-button .wp-element-button {
	background: var(--wp--preset--color--quaternary);
	color: var(--wp--preset--color--primary);
}

.is-style-secondary-button:hover .wp-element-button,
.wp-block.is-style-secondary-button:hover .wp-element-button {
	background: var(--wp--preset--color--quaternary);
	color: var(--wp--preset--color--primary);
}
