<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"border":{"bottom":{"color":"var:preset|color|theme-3","width":"1px"},"top":[],"right":[],"left":[]}},"backgroundColor":"theme-1","layout":{"type":"default"}} -->
<div class="wp-block-group has-theme-1-background-color has-background" style="border-bottom-color:var(--wp--preset--color--theme-3);border-bottom-width:1px">
    <!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:query-title {"type":"archive","align":"wide","style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} /-->

    <!-- wp:pattern {"slug":"simplenet/posts-3-col"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
